html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
}
#kontener {
  width: 1000px;
  margin: auto;
  text-align: center;
}
#logo,
#menu,
#stopka {
  background-color: #c0c0c0;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#logo {
  width: 400px;
  float: left;
}
#menu {
  width: 600px;
  float: left;
}
#baner {
  background-color: #dddddd;
  height: 200px;
  clear: both;
}
#glowny {
  margin: 50px;
}
#stopka {
  text-align: right;
  padding-right: 20px;
}
#usluga {
  width: 206px;
}
#baner a,
#menu a {
  color: #555555;
  margin: 40px;
  font-size: 200%;
  text-decoration: none;
}
hr {
  background-color: #c0c0c0;
  width: 70%;
  border-width: 2px;
}
table {
  text-align: left;
}
ul {
  list-style-position: inside;
}
