html, body {
	height: 100%;
	margin: 0;
}

#baner {
	background-color: #812F8D;
	color: white;
	font-size: 200%;
	text-align: center;
	padding: 10px;
}

#lewy {
	background-color: #BB74C4;
	color: white;
	width: 25%;
	height: 100%;
	float: left;
}

#prawy {
	width: 75%;
	float: left;
}

h2 {
	text-align: center;
}

form {
	margin: 20px;
}